# The following command works for downloading when using Git for Windows:
# curl -LOf http://gist.githubusercontent.com/kmorcinek/2710267/raw/.gitignore
#
# Download this file using PowerShell v3 under Windows with the following comand:
# Invoke-WebRequest https://gist.githubusercontent.com/kmorcinek/2710267/raw/ -OutFile .gitignore
#
# or wget:
# wget --no-check-certificate http://gist.githubusercontent.com/kmorcinek/2710267/raw/.gitignore

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
# build folder is nowadays used for build scripts and should not be ignored
#build/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper

# TeamCity is a build add-in
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# NCrunch
*.ncrunch*
.*crunch*.local.xml

# Installshield output folder
[Ee]xpress/

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml

# Windows Azure Build Output
csx
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings
modulesbin/
tempbin/

# EPiServer Site file (VPP)
AppData/

# RIA/Silverlight projects
Generated_Code/

# Backup & report files from converting an old project file to a newer
# Visual Studio version. Backup files are not needed, because we have git ;-)
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm

# vim
*.txt~
*.swp
*.swo

# Temp files when opening LibreOffice on ubuntu
.~lock.*
 
# svn
.svn

# CVS - Source Control
**/CVS/

# Remainings from resolving conflicts in Source Control
*.orig

# SQL Server files
**/App_Data/*.mdf
**/App_Data/*.ldf
**/App_Data/*.sdf


#LightSwitch generated files
GeneratedArtifacts/
_Pvt_Extensions/
ModelManifest.xml

# =========================
# Windows detritus
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# OS generated files #
Icon?

# Mac desktop service store files
.DS_Store

# SASS Compiler cache
.sass-cache

# Visual Studio 2014 CTP
**/*.sln.ide

# Visual Studio temp something
.vs/

# dotnet stuff
project.lock.json

# VS 2015+
*.vc.vc.opendb
*.vc.db

# Rider
.idea/

# Visual Studio Code
.vscode/

# Output folder used by Webpack or other FE stuff
**/node_modules/*
**/wwwroot/*

# SpecFlow specific
*.feature.cs
*.feature.xlsx.*
*.Specs_*.html

# UWP Projects
AppPackages/

#####
# End of core ignore list, below put you custom 'per project' settings (patterns or path)
#####
.vs/PayrollSystemSolution/DesignTimeBuild/.dtbcache.v2
.vs/PayrollSystemSolution/FileContentIndex/0fc6ed21-e7f7-4500-9679-774756a943c6.vsidx
.vs/PayrollSystemSolution/FileContentIndex/3d679f5e-8369-4377-943c-8c001319528a.vsidx
.vs/PayrollSystemSolution/FileContentIndex/4b18b52b-a5f1-4837-bc27-da9da50637fa.vsidx
.vs/PayrollSystemSolution/FileContentIndex/7ece29e7-5274-4081-8eae-a9909c611125.vsidx
.vs/PayrollSystemSolution/v17/.futdcache.v2
.vs/PayrollSystemSolution/v17/.suo
.vs/PayrollSystemSolution/v17/TestStore/1/001.testlog
.vs/ProjectEvaluation/payrollsystemsolution.metadata.v5.2
.vs/ProjectEvaluation/payrollsystemsolution.projects.v5.2
PayrollSystemWeb/PayrollSystemWeb.csproj
PayrollSystemWeb/obj/project.nuget.cache
PayrollSystemWeb/obj/project.assets.json
PayrollSystemWeb/obj/PayrollSystemWeb.csproj.nuget.g.targets
PayrollSystemWeb/obj/PayrollSystemWeb.csproj.nuget.g.props
PayrollSystemWeb/obj/PayrollSystemWeb.csproj.nuget.dgspec.json
PayrollSystemWeb/obj/Debug/net6.0/staticwebassets/msbuild.PayrollSystemWeb.Microsoft.AspNetCore.StaticWebAssets.props
PayrollSystemWeb/obj/Debug/net6.0/staticwebassets.pack.json
PayrollSystemWeb/obj/Debug/net6.0/staticwebassets.development.json
PayrollSystemWeb/obj/Debug/net6.0/staticwebassets.build.json
PayrollSystemWeb/obj/Debug/net6.0/refint/PayrollSystemWeb.dll
PayrollSystemWeb/obj/Debug/net6.0/ref/PayrollSystemWeb.dll
PayrollSystemWeb/obj/Debug/net6.0/project.razor.vs.json
PayrollSystemWeb/obj/Debug/net6.0/PayrollSystemWeb.pdb
PayrollSystemWeb/obj/Debug/net6.0/PayrollSystemWeb.GeneratedMSBuildEditorConfig.editorconfig
PayrollSystemWeb/obj/Debug/net6.0/PayrollSystemWeb.dll
PayrollSystemWeb/obj/Debug/net6.0/PayrollSystemWeb.csproj.FileListAbsolute.txt
PayrollSystemWeb/obj/Debug/net6.0/PayrollSystemWeb.csproj.CoreCompileInputs.cache
PayrollSystemWeb/obj/Debug/net6.0/PayrollSystemWeb.csproj.AssemblyReference.cache
PayrollSystemWeb/obj/Debug/net6.0/PayrollSystemWeb.assets.cache
PayrollSystemWeb/bin/Debug/net6.0/PayrollSystemWeb.staticwebassets.runtime.json
PayrollSystemWeb/bin/Debug/net6.0/PayrollSystemWeb.pdb
PayrollSystemWeb/bin/Debug/net6.0/PayrollSystemWeb.dll
PayrollSystemWeb/bin/Debug/net6.0/PayrollSystemWeb.deps.json
PayrollSystemTest/obj/project.nuget.cache
PayrollSystemTest/obj/project.assets.json
PayrollSystemTest/obj/PayrollSystemTest.csproj.nuget.g.props
PayrollSystemTest/obj/PayrollSystemTest.csproj.nuget.dgspec.json
PayrollSystemTest/obj/Debug/net6.0/PayrollSystemTest.pdb
PayrollSystemTest/obj/Debug/net6.0/PayrollSystemTest.dll
PayrollSystemTest/obj/Debug/net6.0/PayrollSystemTest.csproj.FileListAbsolute.txt
PayrollSystemTest/obj/Debug/net6.0/PayrollSystemTest.csproj.AssemblyReference.cache
PayrollSystemTest/obj/Debug/net6.0/PayrollSystemTest.assets.cache
PayrollSystemTest/bin/Debug/net6.0/PayrollSystemWeb.staticwebassets.runtime.json
PayrollSystemTest/bin/Debug/net6.0/PayrollSystemWeb.pdb
PayrollSystemTest/bin/Debug/net6.0/PayrollSystemWeb.dll
PayrollSystemTest/bin/Debug/net6.0/PayrollSystemWeb.deps.json
PayrollSystemTest/bin/Debug/net6.0/PayrollSystemTest.pdb
PayrollSystemTest/bin/Debug/net6.0/PayrollSystemTest.dll
PayrollSystemTest/bin/Debug/net6.0/PayrollSystemTest.deps.json
.vs/ProjectEvaluation/payrollsystemsolution.projects.v5.2
.vs/ProjectEvaluation/payrollsystemsolution.metadata.v5.2
.vs/PayrollSystemSolution/v17/.suo
.vs/PayrollSystemSolution/v17/.futdcache.v2
.vs/PayrollSystemSolution/DesignTimeBuild/.dtbcache.v2
