@model PayrollWeb.Models.EmployeeDetailModel

<form asp-controller="Company" asp-action="SaveEmployeeDetails" asp-route-id="@Model.Id">
    <div class="row align-content-md-start">
        <div class="col form-group">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>

        <div class="col form-group">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
    </div>
    <div class="row align-content-md-start">
        <div class="col form-group">
            <label asp-for="EmpId"></label>
            <input asp-for="EmpId"/>
            <span asp-validation-for="EmpId"></span>
        </div> 

        <div class="col form-group">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" />
            <span asp-validation-for="Salary"></span>
        </div>

        <div class="row align-content-md-start">
            <div class="col">
                <input type="submit" value="Save" />
            </div>
        </div>
    </div>
</form>