@model PayrollWeb.Models.CompanyListModel
@{
    ViewData["Title"] = "Company Details";
}
<hr/>
<div class="container">
    <div class="row">
        <div class="col-3">
            <select asp-for="SelectedCompanyId" asp-items="@Model.Companies" class="form-control" onchange="compchange(this)">
                <option value="-1"> Add New Company</option>
            </select>
        </div> 
        <div class="col-3"/>
    </div>
</div>
<hr/>
<div class="container border" id="cdp">
    <partial name="_cdetailpartial" model="@new PayrollWeb.Models.CompanyDetailViewModel()" />
</div>