@model PayrollWeb.Models.CompanyDetailViewModel
@{
    ViewData["Title"] = "Company Details";
}
<hr/>
<form asp-controller="Company" asp-action="Save Detail" asp-route-id = "@ViewBag.Id">
    
    <div class="form-group">
        <label asp-for="TaxId"/>
        <input asp-for="TaxId" class="form-control"/>
        <span asp-validation-for="TaxId"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name"/>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="StreetAddress"/>
        <input asp-for="StreetAddress" class="form-control"/>
        <span asp-validation-for="StreetAddress"></span>
    </div>
    
    <input type ="submit" class="btn btn-primary" />
</form>