@model PayrollWeb.Models.CompanyDetailViewModel
@{
    ViewData["Title"] = "Company Details";
}
<hr/>
<div class="container">
    <div class="row">
        <div class="col-3">
            <select class="form-control" id="sel1" onchange="compchange(this)">
                <option value="-1"> Add New Company</option>
                <option value="2"> Another Company</option>
            </select>
        </div> 
        <div class="col-3"/>
    </div>
</div>
<hr/>
<div class="container border" id="cdp">
    <partial name="_cdetailpartial" model="@Model" />
</div>