<div class="row">
    <div class="col-sm-auto">
       <select class="form-control" size="10">
           <option>Item 1</option>
           <option>Item 2</option>
       </select>
    </div>
    <div class="col">
        <partial name="_EmployeeDetailPartial"/>
    </div>
</div>