@model PayrollWeb.Models.ManageResourceModel
@{
    ViewData["Title"] = "Hire/Terminate";
}
<h1>Manage Employees - [company]</h1>
<hr/>
<div class="container-fluid">
    <form asp-controller="Company">
        <div class="row">
            <div class="col-sm-auto">
                    <label>Available</label> <br />
                <select asp-for="All.SelectedItemId" asp-items="@Model.All.Items" class="form-control">
                </select>
            </div>

            <div class="col-sm-auto align-self-center">
                <div class="container text-center">
                    <input asp-action="Hire" type="submit" class="btn btn-outline-primary" value="1" />
                    <br/>
                    <input asp-action="Terminate" type="submit" class="btn btn-outline-primary" value="2"/>
                </div>
            </div>
       
            <div class="col-sm-auto">
                <label> Employed </label>
                <select asp-for="Hired.SelectedItemId" asp-items="@Model.Hired.Items" class="form-control">
                </select>
            </div>
        </div>
    </form>
</div>